.vs/*

Call of Duty FastFile Editor/bin/*

Call of Duty FastFile Editor/obj/*
FastFileCompiler/obj/Debug/net8.0/

FastFileCompilerGUI/bin/Debug/net8.0-windows/

FastFileCompilerGUI/obj/Debug/net8.0-windows/

FastFileCompilerGUI/obj/

FastFileCompiler/obj/
/FastFileCompiler/bin
/FastFileCompilerGUI/bin/Release/net8.0-windows
/.claude/settings.local.json
/FastFileTool/bin/Release/net8.0/win-x64
/FastFileTool/obj
/publish
/FastFileToolGUI/bin
/FastFileToolGUI/obj
