# Visual Studio
.vs/

# Common build artifacts
bin/
obj/

# Any nested bin/ and obj/ folders in subprojects
**/bin/
**/obj/

# Project-specific publish/build output
publish/

# Specific build targets
FastFileCompilerGUI/bin/Release/net8.0-windows/
FastFileTool/bin/Release/net8.0/win-x64

# Test project
TestProject/

